@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link href="~/css/site.css" rel="stylesheet" />
</head>






    @*<div class="block b1"><a style="color:white;" asp-controller="Employee" asp-action="CreateNew">Dodaj pracownika</a></div>*@
    <div class="block"><a style="color:white;" >STREFA KLIENTA - SKLEP</a></div>
 
 
    @*Lista pracowników*@
    @*utwórz nowy projekt*@
