@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link href="/css_MainPage/MainPage.css" rel="stylesheet" />
</head>


<div id="wrapper">
    <div id="outer">
        
            <div class="itemwrapper">
                <a> <img src="/imagesDev/ClientArea.jpg" alt="bag"/></a>
            </div>
       
            <div class="itemwrapper">
                <a><img src="/imagesDev/jobWindow.jpg" alt="pen" /></a>
            </div>
    </div>
</div>
