


.block {
   
    display: block;
   border-radius:3px; 
  text-align:center;
   
}


.grid {
    margin: 0 auto;
    width: 100%;
    padding-top: 3%;
    margin: auto;
}




.col-33 {
    
    width: 23%;
    float: left;
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
    margin: 1%;
    height: 350px;
}

.clear {
    clear: both;
    display: block;
}


@media all and (max-width:800px) {
    .col-33

{
    width: 50%;
}

}

@media all and (max-width:600px) {
    .col-50, .col-33 {
        width: 100%;
        float: none;
    }
}
.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    margin-top: 30px;
}


/* Presentational styles */

#test {
    padding: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
}

#elem {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    padding-bottom: 10%;
}

img {
    width: 80%;
    height: 60%;
}

/* button {
        margin-top: 10px;
    }*/

#buttonInBlock:link, #buttonInBlock:visited {
    background-color: #2E9843;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 18px;

}

#buttonInBlock:hover, #buttonInBlock:active {
    background-color: #32CD32;
}

#buttonBad:link, #buttonBad:visited {
    background-color: red;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top:18px;
}

#buttonBad:hover, #buttonBad:active {
    background-color: red;
}

#buttonWarning:link, #buttonWarning:visited {
    background-color: orange;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 18px;
}

#buttonWarning:hover, #buttonWarning:active {
    background-color: orange;
}
