
@{
    ViewData["Title"] = "ShopManagement";
    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}
<style>
    .search-background {
        background: url('/images/dust_scratches.png')
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #97734F;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #97734F;
    }
    body {

</style>

    

    <form method="post" enctype="multipart/form-data">
        <br />
        <div class="backgroundWhiteBorder col-md-8">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*//////////////   1   /////////////  *@
            <h3 style="font-family: monospace;color:#97734F" class="text-center"><strong>Dodaj nowy produkt</strong></h3>
            <br />
            <div class="form-group row ">
                <div class="col-md-5">
                    <div class="text-right">
                        <label class="col-form-label">Nazwa produktu</label>
                    </div>

                </div>
                <div class="col-md-5">
                    <input class="form-control" />
                </div>
                @*<span asp-validation-for="MenuItem.Name" class="text-danger"></span>*@
            </div>
            <div class="form-group row ">
                <div class="col-md-5">
                    <div class="text-right">
                        <label class="col-form-label">Kategoria</label>
                    </div>

                </div>
                <div class="col-md-5">
                    <input class="form-control" />
                </div>
                @*<span asp-validation-for="MenuItem.Name" class="text-danger"></span>*@
            </div>


            <div class="form-group row ">
                <div class="col-md-5">
                    <div class="text-right">
                        <label class="col-form-label">Cena</label>
                    </div>

                </div>
                <div class="col-md-5">
                    <input class="form-control" />
                </div>
                @*<span asp-validation-for="MenuItem.Name" class="text-danger"></span>*@
            </div>


            <div class="form-group row ">
                <div class="col-md-5">
                    <div class="text-right">
                        <label class="col-form-label">Zdjęcie</label>
                    </div>

                </div>
                <div class="col-md-5">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
                @*<span asp-validation-for="MenuItem.Name" class="text-danger"></span>*@
            </div>
           
            <div class="form-group row ">
                <div class="col-md-5">
                    <div class="text-right">
                        <label class="col-form-label">Opis szczegółowy</label>
                    </div>

                </div>
                <div class="col-md-5">
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                @*<span asp-validation-for="MenuItem.Name" class="text-danger"></span>*@
            </div>
        </div>





            @*<div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>*@

</form>


    @*////////////////////////////////////////////////*@

<h3 style="text-align:center;font-family:monospace;color:#97734F"><strong>Lista wszytskich produktów</strong></h3>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                Test
            </th>
            <th>
                Test
            </th>
            <th>
                Test
            </th>
            <th>
                Test
            </th>

            <th></th>
            <th></th>
        </tr>

        <tr>
            <td>
                Test
            </td>
            <td>
                Test
            </td>
            <td>
                Test
            </td>
            <td>
                Test
            </td>

            <td>
            </td>
        </tr>

    </table>

    @*<h2>Filterable Table</h2>
        <p>Type something in the input field to search the table for first names, last names or emails:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>*@


