
@model IEnumerable<Data.Machine>
@{

    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}
<head>


    <divnk href="/css/PositionState.css" rel="stylesheet" />
   

</head>
<style>
    /*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
    .auto-grid {
        --auto-grid-min-size: 16rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
        grid-gap: 1rem;
       
       margin-top:30px;
    }


    /* Presentational styles */

    #test {
        
        padding: 1rem;
        line-height: 1.4;
        font-family: sans-serif;
        
    }

    #elem {
      
        text-align: center;
        font-size: 1.2rem;
        
        color: #ffffff;
        padding-bottom:10%;

        
    }
    img{
        width:80%;
        height:60%;
    }
    button{
        margin-top:10px;
    }

   
</style>

<div id="#test">

    <div class="auto-grid">
        <div id="elem"><h5 style="color:black;">Okleiniarka</h5><img src="https://winter-holztechnik.pl/wp-content/uploads/2018/01/WINTER-pi%C5%82a-formatowa-A-45-3200-CNC-DELUXE.jpg" alt="Girl in a jacket"> <button type="button" class="btn btn-success">Zajmij maszynę</button></div>
        <div id="elem"><h5 style="color:black;">Piła formatowa</h5><img src="https://www.felder-group.com/WEB/FelderGroup/Machines/Machines/image-thumb__49248__fgroup-M3-product_list/64625-kantenanleimmaschine-F6006006lgluebox-format4-feldergorup~-~media--3875e560--query.png" alt="Girl in a jacket"> <button disabled type="button" class="btn btn-danger">Zajęte przez <strong>Jan Kowalski</strong></button></div>
        <div id="elem"><h5 style="color:black;">Frezarka CNC</h5><img src="https://a.allegroimg.com/s720/110a93/90a6702547bd9aab1a9844431a0b" alt="Girl in a jacket"> <button type="button" class="btn btn-success">Zajmij maszynę</button></div>
        <div id="elem"><h5 style="color:black;">CORMAK C5310</h5><img src="https://a.allegroimg.com/s720/03d293/745ffc234a5396fc26bf375d2905" alt="Girl in a jacket"> <button type="button" disabled class="btn btn-danger">Zajęte przez <strong>Adam Kuś</strong></button></div>
        <div id="elem"><h5 style="color:black;">Szlifierka </h5><img src="https://iberus.pl/wp-content/uploads/2018/10/1097_a..jpg" alt="Girl in a jacket"> <button type="button" class="btn btn-success">Zajmij maszynę</button></div>
        <div id="elem"><h5 style="color:black;">VSTR 3000</h5><img src="https://b.allegroimg.com/s720/03d01f/9b457a554b26be0cec8c1f31a50b/HYDRAULICZNA-PRASA-DO-KLEJENIA-DREWNA-SCHODOW" alt="Girl in a jacket"> <button disabled type="button" class="btn btn-danger">Zajęte przez <strong>Michał Nowak</strong></button></div>
        <div id="elem"><h5 style="color:black;">Wyrówniarka</h5><img src="https://www.felder-group.com/WEB/FelderGroup/Machines/Machines/image-thumb__48888__fgroup-M3-product_list/3343-3272-hobelmaschine-plan51l-format4-feldergroup~-~media--6810e2a4--query.png" alt="Girl in a jacket"> <button type="button" class="btn btn-success">Zajmij maszynę</button></div>
        <div id="elem"><h5 style="color:black;">Prasa HVP</h5><img src="https://holzing.com.pl/7435-large_default/prasa-hydrauliczna-polkowa-na-goraco-z-bojlerem-elektrycznym-do-klejenia-forniru-steton-3000x1300.jpg" alt="Girl in a jacket">  <button type="button" class="btn btn-success">Zajmij maszynę</button></div>


    </div>

</div>
@*<div id="hehe" class="grid">


    
</div>*@

