<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/AdminArea/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/AdminArea/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/AdminArea/css/Product.css" rel="stylesheet" />
</head>
<style>
    .container {
        min-width: 100%;
        marign: 0;
        padding: 0;
    }
</style>
<body>
    <div class="d-flex" id="wrapper">

      

        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><strong>Panel admin </strong></div>
            <div class="list-group list-group-flush">
                <a asp-controller="Admin" asp-action="ShopManagement" class="list-group-item list-group-item-action bg-light">Zarządzanie sklepem &nbsp;<i class="fas fa-shopping-basket"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Lista zamówień &nbsp; <i class="fas fa-chevron-circle-down"></i></i></a>
                <a asp-controller="Scheduler" asp-action="Index"  class="list-group-item list-group-item-action bg-light">Kalendarz montaży &nbsp;<i class="far fa-calendar-times"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Monitoring stanowisk &nbsp;<i class="fas fa-bell"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Stan magazynu &nbsp;<i class="fas fa-battery-half"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Pracownicy&nbsp; <i class="fas fa-user-friends"></i></a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Budżet &nbsp; <i class="far fa-money-bill-alt"></i></a>
              
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-secondary" id="menu-toggle">Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <li class="nav-item">
                            <partial name="_LoginPartialAdmin" />
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
                @*///// RENDER BODY ////*@
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="/AdminArea/vendor/jquery/jquery.min.js"></script>
    <script src="/AdminArea/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>





</html>
