
@model int
<div class="btn-group" role="group">
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@Model"><i class="fas fa-edit"></i></a>

    <form method="post" >
        <button type="submit" class="btn btn-danger text-white" asp-action="DeleteProduct" asp-route-Id="@Model"><i class="fas fa-trash-alt"></i></button>
    </form>
    
   
</div>