@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link href="/css_MainPage/MainPage.css" rel="stylesheet" />
</head>


<div id="wrapper">
    <div id="outer">

        <div class="itemwrapper">
            <a asp-controller="Customer" asp-action="Index"> <img src="/imagesDev/ClientArea.jpg" alt="bag" /></a>
        </div>

        <div class="itemwrapper">
            <a asp-controller="Admin" asp-action="Index"><img src="/imagesDev/jobWindow.jpg" alt="pen" /></a>
        </div>
    </div>
</div>
