@model ShopAreaViewModel
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="~/css/Shop_ProductsList.css" rel="stylesheet" />
</head>


<div><partial name="_HeaderForCustomerArea.cshtml" /></div>


<div style="justify-content: center; display: flex;">
    <ul id="menu-filters" style="width:100%; " class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Wszystko</li>
        @foreach (var item in Model.categories)
        {
            <li class="filter active btn btn-secondary ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
        }

    </ul>
</div>



@foreach (var item in Model.categories)


{

    <div class="row" id="menu-wrapper">
        <partial name="_ThumbnailAreaPartial" model="@Model.products.Where(u=>u.Category.Name.Equals(item.Name))" />
    </div>

}



@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>

    var posts = $('.post');

    (function ($) {

        $("#menu-filters li").click(function () {
            

            var selectedFilter = $(this).data("filter");

            $(".menu-restaurant").fadeOut();

            setTimeout(function () {
                $(selectedFilter).slideDown();
            }, 400);
        });



    })(jQuery);

    </script>
}


